*,*::before,*::after{
  box-sizing: border-box;  
}

html {
  font-size: 62.5%;
}

body{
  margin: 0;
}

:root{
  --black: #150605;
  --red: #EA453C;
  --pink: #E57373;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
  --orange:#ffb74d; 
}

h1{
  font-size: 2.5rem;
}
/*** Header**/
.links{
  text-decoration: none;
  color:var(--light-blue);
}

.links:hover{
  color:var(--blue);
  transition: .3s;
  transform: scale(1.1);
}

.header{
  overflow: hidden;
  z-index: 9;
  display:flex;
  position: fixed;
  width:100%;
  top:0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange);
  color: var(--light-blue);
  padding:0px 20px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  
}

.content-page{
  margin-top: 30px;
}

/**************Image container***********/

.image-container{
  
  padding:5rem;
}

.image-list{
  position: relative;
}

.heart-icon{
  position: absolute;
  top:1rem;
  left:1rem;
  
}

.heart-icon:hover, .add-icon:hover{
  cursor: pointer;
  transform: scale(1.15);
}

.add-icon{
  position: absolute;
  top:1rem;
  right:1rem;
}

/******Cart*******/
.cart-page{
  text-align: center;
}

.cart-page h1{
  font-size: 36px;
}

.cart-item{
  display: flex;
  align-items: center; 
  margin: 20px 50px;

}

.cart-img{
  margin-right: auto;
  margin-left: 20px;
  width:100px;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 2rem;
  margin: 10px 50px;
  font-weight: 900;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

div.order-button>button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button>button:focus {
  outline: none;
}

div.order-button>button:disabled {
  border-color: lightgray;
}